@{
    ViewBag.Title = "Verndale MVC Advanced Dev Test";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title:</h1>
                <h2>Intended for Senior Engineering/Tech Lead candidates who have experience with ASP.net MVC 3/4</h2>
                <p>
                    <strong>Improve</strong> the existing code in any way that you see fit.<br />
                    <strong>Show off</strong> your excellent coding habits and attention to detail.<br />
                    <strong>Blow us away</strong> with your ingenuity.<br />
                </p>
            </hgroup>
        </div>
    </section>
}
